body{
    background-color: #274444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #e6ffff;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

h1{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #e6ffff;
}
p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #e6ffff;
}

h2{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #e6ffff;
}

header{
    background-color: #376060;
    padding: 1rem;
    text-align: left;
    margin-bottom: 1rem;
    max-width: 720px;
    margin: 0.5rem 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section {
    background-color: #416161;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 1rem 0;
    width: 100%;
    min-width: 500px;
}
main section h2 {
    margin-bottom: 1rem;
    font-weight: 700;
}

main section ul {
    margin-bottom: 1rem;
    font-weight: 400;
}
main section ul li {
    margin-bottom: 0.5rem;
    font-weight: 400;
    background-color: #274444;
    padding: 0.5rem;
}
main section ul li:hover {
    background-color: #4a8181;
    cursor: pointer;
}

main section button {
    background-color: #274444;
    color: #e6ffff;
    border: 1px solid #e6ffff;
    border-radius: .4rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    cursor: pointer;
}

main section button:hover {
    background-color: #4a8181;
}